@font-face{
font-family:font1;
src:url(Padauk/Padauk-Regular.ttf);
}
body,html{
height:100%;
margin:0;
font-family:font1;
color:#777;
}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6{
position:relative;
opacity:0.70;
background-attachment:fixed;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
.bgimg-1{
background-image:url("photo1.jpg");
min-height:100%;
}
.bgimg-2{
background-image:url("photo2.jpg");
min-height:500px;
}
.bgimg-3{
background-image:url("photo3.jpg");
min-height:500px;
}
.bgimg-4{
background-image:url("photo4.jpg");
min-height:500px;
}
.bgimg-5{
background-image:url("photo5.jpg");
min-height:500px;
}
.bgimg-6{
background-image:url("photo6.jpg");
min-height:100%;
}
.caption{
position:absolute;
left:0;
top:50%;
width:100%;
text-align:center;
color:#000;
}
.border{
background-color:#111;
color:#fff;
padding:18px;
font-size:20px;
letter-spacing:15px;
border:5px solid white;
}
.bg-light{
position:relative;
color:#777;
background-color:white;
text-align:center;
padding:50px 80px;
text-align:justify;
}
h1,h2{
letter-spacing:5px;
text-transform:uppercase;
text-align:center;
}
h1{
color:black;
}
h2{
color:white;
}
a{
text-decoration:none;
color:white;
}
p{
text-indent:30px;
}
.bg-transparent{
background-color:transparent;
font-size:25px;
color:#f7f7f7;
}
.bg-dark{
position:relative;
color:#ddd;
background-color:#282E34;
text-align:center;
padding:50px 80px;
text-align:justify;
}
@media only screen and (max-device-width:1024px)
{
.border{
border:none;
}
.bg-dark, .bg-light{
padding:20px 30px;
}
.caption span{
background-color:transparent;
}
}
